*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #FEFEFE;
}

.fil-ariane{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 50px 70px;
    color: #737373;
}

.fil-ariane a{
    text-decoration: none;
    color: #1B1B1B;
    padding: 0 5px;
}

.fil-ariane a:hover{
    color: #6A5ADF;
}

/* partie-1 ------------------------------------------------------------------------------------------------- */

.banniere-matiere{
    /* border: solid #6A5ADF; */
    width: 90%;
    height: 35vh;
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}

.banniere-matiere img{
    width: 100%;
    border: solid #a9a9a9;
}


/* partie-1 ------------------------------------------------------------------------------------------------- */


.txt-matiere{
    padding: 20px 40px;
}

.contenu-txt-matiere{
    display: flex;
    justify-content: center;
    justify-content: center;
}

.intro-matiere h1{
    color: #6A5ADF;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.intro-matiere p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0.75%;
    font-size: 1.11em;
}

/* card matiere ------------------------------------------------------------------------------------------------- */

.titre-matiere{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    color: #6A5ADF;
}


/* Métier */

.bloc-matieres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.card-matiere{
    /* border: solid #F9CF57 ; */
    display: flex;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 75vw;
    margin: 50px auto;
    height: fit-content;
}

.card-matiere div{
    padding: 30px;  
}

.card-matiere:nth-child(2n){
    flex-direction: row-reverse;
}

.matiere-image{

    border-radius: 30px;    
    width: 30%;
}

.matiere-image img{
    border-radius: 30px;
    width: 150px;
    padding-left: 26%;

}

.matiere-titre{
    color: #6A5ADF;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
}

h2{
    font-size: 2em;
}

.matiere-texte{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.matiere-texte-conteneur{
    width: 60%;
}

/* Bouton */

.btn-decouvrir{
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid #ABA2F1;
    padding: 15px;
    margin: 40px auto;
    transition: all 0.5s ease;
    cursor:pointer;
    text-decoration: none;
    text-align: center;
    color: #ABA2F1;
    display: block;
    width: 350px;
}

.btn-decouvrir:hover, button:hover {
    color: #FEFEFE;
}

.btn-decouvrir:active, button:active {
    outline: 0;
    color: #FEFEFE;
}

.btn-slide-left {
    background: linear-gradient(to left, transparent 50%, #6A5ADF 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.btn-slide-left:hover {
    background-position: left bottom;
}

@media only screen and (max-width: 768px){
    .card-matiere{
        flex-direction: column;
        width: 80vw;
    }

    .matiere-image{   
        width: 100%;
    }

    .intro-matiere h1{
        font-size: 2em;
        margin: 20px 0;
    }
    
    .matiere-image img{
        width: 90px;
        align-items: center;
        border-radius: 0;
    }

    .matiere-texte-conteneur{
        width: 100%;
    }

    .matiere-texte{
        margin-right: 2.5em;
    }
    
    .card-matiere:nth-child(2n){
        flex-direction: column;
    }

}

@media only screen and (max-width: 576px){
    .contenu-txt-matiere{
        flex-direction: column;
    }

    .matiere-texte, .matiere-titre{
        margin: 0;
    }

    .matiere-texte{
        font-size: 0.85em;
        margin: 10px 0;
    }

    h2{
        font-size: 1.5em;
    }

    .intro-matiere{
        font-size: 0.85em;
        padding: 20px;
    }

}

@media only screen and (max-width: 415px){
    .btn-decouvrir{
        width: 300px;
    }

    .intro-matiere h1{
        font-size: 1.5em;
    }
    
}